{% extends 'base_customer.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/availability_cal.css' %}">
<h1>Availability Calendar for {{ car.make }} {{ car.model }}</h1>

<div class="calendar">
    {% for day in availability_dates %}
        <div class="day {% if day in booked_dates %} booked {% else %} available {% endif %}">
            {{ day|date:"Y-m-d" }}
        </div>
    {% endfor %}
</div>

<p>Note: Booked dates are highlighted in red.</p>

{% endblock %}
