<!-- verification_success.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/client_ver_success.css' %}">
    <title>Email Verification Success</title>
</head>
<body>
    <h2>Account Activated Successfully</h2>
    <p>Your account has been successfully activated.</p>
    <p>You can now <a href="{% url 'client_login' %}">login</a> to access your account.</p>
</body>
</html>
