<!-- templates/car_owner/payment_history.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Payment History{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'styles/payment_his.css' %}">
  <h1>Your Payment History</h1>
  <ul>
    {% for payment in payments %}
      <li>
        {{ payment.leasing_request.car.make }} {{ payment.leasing_request.car.model }} -
        ${{ payment.amount }} -
        {{ payment.paid_at }} -
        Status: {{ payment.status }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
